ul li{
    display:inline-block;
    padding:20px 55px;
    border-right:2px solid #ccc;
    margin:0;
}
ul li:hover{
    background-color:#bada55;
    cursor:pointer;
}

ul li a{
    text-decoration:none;
    color:#d3f900;
    font-size:20px;
    text-transform:capitalize;

}
.menu{
    background-color:#052d0b;
    height:65px;
    margin:auto 0;
    max-width:100%;
    text-align:center;
}
h2{
    text-transform:uppercase;
    font-weight:700;
    color:#000;
    position:absolute;
    top:35%;
    left:30%;
    font-size:45px;
}
footer{
    background-color:#ccc;
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    font-size:18px;
    height:50px;
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
footer p{
    text-transform:capitalize;
}